<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body { text-align: center; font-size: 20px; font-weight: bold; }
        h1 { font-size: 30px; color: blue; border: 2px solid white; display: inline-block; padding: 5px; }
        h2 { font-size: 20px; color: red; font-style: italic; }
    </style>
</head>
<body>
    <h1>GSSS DONGDA</h1>
    <h2>Test Portal designed by SACHIN JAIN (COMPUTER TEACHER)</h2>
    <form method="POST">
        Name: <input type="text" name="name" required><br><br>
        Roll No: <input type="text" name="roll_no" required><br><br>
        Class: <select name="class">
            <option>Class 8th</option>
            <option>Class 9th</option>
            <option>Class 10th</option>
            <option>Class 11th</option>
            <option>Class 12th</option>
        </select><br><br>
        Password: <input type="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
